body
{
	background-image: url("ap1.jpg");
	background-size: cover;

}

* {
    box-sizing: border-box;
}

.menu {
    width: 25%;
    float: left;
}
.main {
    width: 75%;
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}


.carousel-inner > .item > img {
    margin: 0 auto;
}

#topbar{
	background-color:#0066ff;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 10%;
	width:100%;
}
#search{
	background-color: white;
	
	border-radius: 100px;
	box-shadow: 10px 10px 5px #888888;
	font-size: 180%;
	
}
#title{
	
	font-size: 450%;
	font-family: impact, sans-serif;
	color:blue;
	
}
#loginform{
	position: absolute;
	top: 10%;
	right: 5%;
	width: 15%;
	height: 23%;
	background-color: white;
	
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	visibility: hidden;
}
#employees{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 83.2%;
	height: 80%;
	background-color: white;
	
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	visibility:visible;
	z-index:-10;
}
#departments{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 83.2%;
	height: 80%;
	background-color: white;
	
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	visibility:hidden;
	z-index:-10;
}
#artworks{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 83.2%;
	height: 80%;
	background-color: white;
	
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	visibility:hidden;
	z-index:-10;
}
.text {
	border:2px solid #456879;
	border-radius:10px;
	font-size:80%;
	height: 30%;
	width: 60%;
}
.myButton {
	-moz-box-shadow: 5px 5px 0px 0px #6a7068;
	-webkit-box-shadow: 5px 5px 0px 0px #6a7068;
	box-shadow: 5px 5px 0px 0px #6a7068;
	background-color:#459ac7;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:14px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #040f02;
}
.myButton:hover {
	background-color:#142fe0;
}
.myButton:active {
	position:relative;
	top:1px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-decoration: none;
    color: initial;
}
